.list-con-1{
    list-style-type: none;
   padding: 10px;
}
.button{
    color: #7b8794;
   border-color: transparent;
    background-color: transparent;
}
.active-btn-style{
    color: #7b8794;
    background-color: transparent;
    border-bottom-color:  #2563eb;

}